@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(27, 114, 110);
    --primary-color-darker: rgb(13, 71, 68);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: nome;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

.container button:hover {
    background: var(--primary-color-darker);
}

.senha-gerada {
    font-size: 2em;
    color: var(--primary-color);
    margin: 40px 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

input[type="number"] {
    width: 80px;
    height: 25px;
}